body {
    display: flex;                  /* Kích hoạt Flexbox */
    justify-content: center;        /* Căn giữa theo chiều ngang */
    align-items: center;            /* Căn giữa theo chiều dọc */
    min-height: 100vh;              /* Chiều cao bằng 100% màn hình hiển thị */
    margin: 0;                      /* Xóa khoảng trắng mặc định của trình duyệt */
    background-color: #f3f4f6;      /* Thêm màu nền xám nhạt cho dễ nhìn */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    text-align: center;
}

#divAllSo {
    display: grid;
    /* Chia làm 4 cột, mỗi cột rộng 50px */
    grid-template-columns: repeat(4, 50px);
    /* Khoảng cách giữa các nút là 5px */
    gap: 5px; 
    /* Canh giữa bàn phím */
    justify-content: center; 
    margin-top: 20px;
}

/* Format tất cả các nút bên trong */
#divAllSo button {
    height: 30px; /* Bạn có thể thêm chiều cao cho đẹp */
    /* Bỏ style width inline đi vì grid đã lo việc đó */
    width: 100%; 
}

#ketqua {
    width: 200px;
    height: 40px;

    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}

#all{
    width: 300px;
    height: 300px;
    border-radius: 2px ;
    border: 2px solid black;
}